@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face {
  font-family: "IranSans";
  src: url("../public/font/IRANSansWebFaNum.woff2") format("woff2");
} */
@font-face {
  font-family: "montserrat";
  src: url("../public/font/Montserrat-Regular.ttf") format("trueType");
}
/* @font-face {
  font-family: "GreatVibes";
  src: url("../public/font/KaushanScript-Regular.ttf") format("trueType");
} */

/* html {
  font-family: "IranSans";
} */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a04027;
  border-radius: 5px;
}

.scale-transform {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.hover-effect:hover .arrow-icon {
  transform: translateY(-3px);
  transition: transform 0.3s ease-in-out;
}

.animated {
  -webkit-animation: capanimate 1s forwards 1s;
  animation: capanimate 1s forwards 1s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-delay: 2.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-delay: 3s;
}

@keyframes reveal {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.reveal-animation {
  animation: reveal 4s forwards;
  animation-delay: 1.5s;
}
